
Babel==2.7.0

bcrypt==3.1.7

Flask==1.1.2
Flask-Cors==3.0.8
Flask-JWT-Extended==3.24.1
Flask-Session==0.3.2
Flask-SQLAlchemy==2.4.3
Flask-WTF==0.14.3
gunicorn==20.0.4


Jinja2==2.10.1
jsonschema==3.0.2
jwt





pandas==0.25.2


pyflakes==2.1.1
pygame==1.9.6
Pygments==2.4.2
PyJWT==1.7.1


query-string==2019.4.13
request==2019.4.13
requests==2.22.0
requests-oauthlib==1.3.0
rope==0.14.0
rsa==4.0
Rtree==0.8.3
ruamel-yaml==0.15.46



six==1.13.0
snowballstemmer==1.9.1
sortedcontainers==2.1.0


SQLAlchemy==1.3.17
sqlparse==0.3.1


ujson==1.35
urllib3==1.25.7
vpnotebook==0.1.3
vpython==7.5.0
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
WTForms==2.3.1
yapf==0.28.0
zipp==0.6.0